body {
    background: #777;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    padding: 10px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.languages {
    display: flex;
    justify-content: center;
}

.languages li {
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.populat-item {
    margin: 20px;
    text-align: center;
}

.space-list-items {
    margin-bottom: 7px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}