body {
    background: #777;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    padding: 10px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.languages {
    display: flex;
    justify-content: center;
}

.languages li {
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
}